body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  background-color: #e2e0e5;
  color: #36008d;
  font-family: "Ubuntu Mono", monospace;
  overflow-x: hidden;
  text-align: left;
}


h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  margin: 0;
}

h2, h3 {
  font-family: "Open Sans", sans-serif;
}

h3 {
    font-size: 1.5em;
}

p {
  line-height: 1.5;
}

a {
  color: #00c9b8;
}

.navbar {
  overflow: hidden;
  background-color: #36008d;
  padding: 20px 30px;
}

.navlink {
  float: right;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.resume_button {
  border: 2px solid #00c9b8;
  margin: 0 10px;
}

.resume_button a {
  text-decoration: none;
}

.logo {
  font-size: 35px;
  text-decoration: none;
  color: #ffb3c1;
  text-align: center;
  border: 2px solid #ffb3c1;
  padding: 5px;
}

#content {
  display: flex;
}

.hero {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.hero_h2 {
  opacity: 0.7;
  font-size: 40px;
  margin: 10px 0;
}

.get_in_touch {
  padding: 40px 0px;
}

.get_in_touch a {
  text-decoration: none;
  border: 2px solid #00c9b8;
  color: #00c9b8;
  border-radius: 5px;
  padding: 15px 20px;
}

.divider {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-bottom: 40px;
}

.divider img {
  max-width: 80px;
}

.styled_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.profile-img {
  max-width: 200px;
  border: 7px inset #36008d;
  border-radius: 40px 0px;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inner-text {
    padding-right: 50px;
}

.projects {
    padding-top: 50px;
}

.featured-project {
  display: flex;
}

.project-text {
  padding-top: 30px;
  width: 400px;
}

.proj-img {
  max-width: 50%;
  height: auto;
  padding: 40px;
}

.techs {
    color: #00c9b8;
}

.link-img {
    max-width: 30px;
}

.footer {
  margin: auto;
  padding: 20px;
  text-align: center;
}

.footer-img {
    max-width: 30px;
}

.contact {
    margin: auto;
    text-align: center;
    padding: 200px 0px;
}